.hdw-overlay {
    display : block;
    z-index: 10999;
    background-color: #080808;
    position : absolute;
    margin: 0;
    opacity : 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.hdw-dialog {
    font-family:helvetica;
    display : block;
    position : fixed;
    z-index: 11000;
    left : 50%;
    width: 300px;
    height: 287px;
    margin-left : -150px;
    top: 50%;
    margin-top: -150px;
    opacity : 0;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.hdw-title {
    width: 100%;
    height: 64px;
    position: absolute;
    top: 0;
    line-height: 64px;
}

.hdw-btn {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    line-height: 40px;
}

.hdw-day-sel {
    margin: 0;
    position: absolute;
    top: 66px;
    bottom: 41px;
    left: 16px;
    width: 80px;
    overflow:auto;
    z-index: 1;
}

.hdw-day-grad {
    margin: 0;
    position: absolute;
    top: 66px;
    bottom: 41px;
    left: 16px;
    width: 80px;
    overflow:auto;
    z-index: 2;
    pointer-events:none;
}

.hdw-day-active {
    margin: 0;
    position: absolute;
    top: 126px;
    left: 17px;
    height:56px;
    width: 78px;
    background-color: rgba(255,255,255,0) ;
    z-index: 3;
    pointer-events:none;
}

.hdw-day-scl {
    width:80px;
    padding:0;
}

.hdw-day-ul {
    list-style:none;
    display:block;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.hdw-day-li {
    display:block;
    width:78px; height:58px; line-height:58px;
    background-color: transparent;
}

.hdw-month-sel {
    position: absolute;
    top: 66px;
    bottom: 41px;
    width: 80px;
    left: 110px;
    height: 180px;
    overflow:auto;
    z-index: 1;
}

.hdw-month-grad {
    position: absolute;
    top: 66px;
    bottom: 41px;
    width: 80px;
    left: 110px;
    height: 180px;
    overflow:auto;
    z-index: 2;
    pointer-events:none;
}

.hdw-month-active {
    position: absolute;
    top: 126px;
    height:56px;
    width: 78px;
    left: 111px;
    background-color: transparent;
    z-index: 3;
    pointer-events:none;
}

.hdw-month-scl {
    width:80px;
    padding:0;
}

.hdw-month-ul {
    list-style:none;
    display:block;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.hdw-month-li {
    display:block;
    width:78px; height:58px; line-height:58px;
    background-color: transparent;
}

.hdw-year-sel {
    margin: 0;
    position: absolute;
    top: 66px;
    bottom: 41px;
    right: 16px;
    width: 80px;
    overflow:auto;
    z-index: 1;
}

.hdw-year-grad {
    margin: 0;
    position: absolute;
    top: 66px;
    bottom: 41px;
    right: 16px;
    width: 80px;
    overflow:auto;
    z-index:2;
    pointer-events:none;
}

.hdw-year-active {
    position: absolute;
    top: 126px;
    height:56px;
    width: 78px;
    right: 17px;
    background-color: transparent;
    z-index: 3;
    pointer-events:none;
}

.hdw-year-scl {
    width:80px;
    padding:0;
}

.hdw-year-ul {
    list-style:none;
    display:block;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.hdw-year-li {
    display:block;
    width:78px; height:58px; line-height:58px;
    background-color: transparent;
}