.hdw-theme {
    background-color: #F0F0F0;
    color: #080808;
    font-size: 14px;
}

.hdw-title.theme {
    color: #68C0E8;
    border-bottom: 1px solid #30B0E0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.hdw-btn.theme {
    text-align: center;
    border-top: 1px solid #D8D8D8;
}

.hdw-btn.btn-down {
    background-color: #68C0E8;
}

.hdw-day-li.theme {
    text-align:center;
    border:1px solid transparent;
}

.hdw-day-active.theme {
    border-top:2px solid #30B0E0;
    border-bottom:2px solid #30B0E0;
}

.hdw-day-grad.theme {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(0.5, rgba(240,240,240,0) ), color-stop(1, #F0F0F0));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
}

.hdw-month-li.theme {
    text-align:center;
    border:1px solid transparent;
}

.hdw-month-active.theme {
    border-top:2px solid #30B0E0;
    border-bottom:2px solid #30B0E0;
}

.hdw-month-grad.theme {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(0.5, rgba(240,240,240,0) ), color-stop(1, #F0F0F0));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
}

.hdw-year-li.theme {
    text-align:center;
    border:1px solid transparent;
}

.hdw-year-active.theme {
    border-top:2px solid #30B0E0;
    border-bottom:2px solid #30B0E0;
}

.hdw-year-grad.theme {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(0.5, rgba(240,240,240,0) ), color-stop(1, #F0F0F0));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #F0F0F0 0%, rgba(240,240,240,0)  50%, #F0F0F0 100%);
}